/* Styles for the Advanced Markup assignment. */

/* Home Page Styles */
ul {
    list-style-type: none;
}
.poem {
    font-style: oblique;
    font-weight: 700;
    width: 25%;
    height: auto;
    padding: 10px;
    margin: 20px;
    background-color: BurlyWood;
    line-height: 20px;
}
/* About Page Styles */
dt {
    font-weight: 900;
    }
.bio-photo {
    width: 25%;
    float: left;
    background: #cccccc;
    margin: 10px;
    padding: 5px;
}
bio-photo img {
    width: 100%;
    height: auto;
}
/* Navigation Styles */
nav ul li {
    display: inline;
    border: solid 1px black;
    padding: 5px;
}
.active {
    font-weight: 900;
    background: #cccccc;
    padding: 5px;
}

/* Sidebar Styles */
    #sidebar {
        float: right;
        width: 25%;
        background: #FF7F50;
        margin: 20px;
        padding: 10px;   
        border: solid 2px black;
}
    
/* Table Styles */
table   {
    width: 55%;
    text-align: left;
}
tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}


